body, html{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: white;
   
}
.section1{
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
}
.background-color-grey{
    height: 95%;
    width: 97%;
    /* background-color: deeppink; */
    background-image: url(assets/frame-2.png);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.text-container{
    height: 40%;
    width: 45%;
    /* background-color: dodgerblue; */
    text-align: center;
}
h1{
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 72px;
    line-height: 6rem;
}
h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 40px;
}
.about-div{
    height: 40%;
    min-width: 500px;
    /* background-color: fuchsia; */
    padding: 1rem 5rem 0 5rem;
}
.about{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    text-align: center;
}
nav{
    height: 6rem;
    width: 80%;
    font-family: 'Roboto', sans-serif;
    /* background: #f5f5f5; */
    background: #eeeeee; 
    position: fixed;
    margin-bottom: 4rem;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0,.15);
    padding-left: 3rem;
    padding-right: 3rem;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}
nav a{
    font-size: 18px;
    font-family: 'Palanquin', sans-serif;
    text-decoration: none;
    color: black;
    font-weight: 600;
    line-height: 5rem;
    display: inline-block;
}
nav .animation{
    height: 5px;
    background-color: #EC3634;
    position: absolute;
    bottom: 0;
    z-index: 0;
    transition: all .5s ease 0;
}
a:nth-child(1){
    width: 200px;
    /* background-color:aqua; */
    align-self: center;
    text-align: center;
}
nav .start-home, a:nth-child(1):hover~.animation {
    width: 200px;
    left: 0;
    align-self: center;
    text-align: center;
    margin-left: 3rem;
}

a:nth-child(2){
    width: 200px;
    /* background-color: brown; */
    align-self: center;
    text-align: center;
}
nav .start-home, a:nth-child(2):hover~.animation {
    width: 200px;
    left: 0;
    align-self: center;
    text-align: center;
}

a:nth-child(3){
    width: 200px;
    /* background-color:darkgreen; */
    align-self: center;
    text-align: center;
}
a:nth-child(4){
    width: 200px;
    /* background-color: darkslateblue; */
    align-self: center;
    text-align: center;
}
a:nth-child(5){
    width: 200px;
    /* background-color: darkorange; */
    align-self: center;
    text-align: center;
}
a:nth-child(6){
    width: 200px;
    /* background-color: yellow; */
    align-self: center;
    text-align: center;
}
nav .start-home, a:nth-child(6):hover~.animation {
    width: 200px;
    left: 0;
    align-self: center;
    text-align: center;
    margin-right: 3rem;
}

.section2{
    height: 80%;
    width: 100%;
    /* background-color: darksalmon; */
    background-color: white;
    display: flex;
    margin-top: 9rem;
}
.images{
    height: 100%;
    width: 100%;
    /* background-color: violet; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-right-top{
    height: 16rem;
    /* width: 24rem; */
    /* background-color: tomato; */
    align-self: flex-start;
}
.image-left-top{
    height: 9rem;
    /* width: 10rem; */
    opacity: 60%;
    /* background-color:yellow; */
    align-self: flex-start;
}
.logo-anina-image{
    max-width: 35%;
    height: auto;
    /* background-color: chocolate; */
    margin-bottom: 7rem;
    margin-top: 11rem;
}
.union.png{
    height: 2rem;
    width: 3rem;
}
.section3{
    height: 100%;
    width: 100%;
    /* background-color:indigo; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle-bag-anina-class{
    height: 40rem;
    margin-bottom: 2rem;
    /* background-color: lightgreen; */
    padding-right: 25rem;
    padding-left: 4rem;
}
.text-anina-container{
    height: 20rem;
    width: 13rem;
    /* background-color: lightcoral; */
    padding: 4rem;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.section4{
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ordi-images{
    height: 80%;
    width: 85%;
    background-color: #E1EAFE;
     display: flex;
    justify-content: center;
    align-items: center;
}
.background-blue{
    height: 80%;
    width: 85%;
    background-color: #0040DB;
    opacity: 20%;
}
.ordi-anina-image{
    height: 33rem;
    /* background-color: burlywood; */
}
.section4{
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form-container-section4{
    height: 15%;
    width: 100%;
}
.image-left-top{
    height: 9rem;
    opacity: 60%;
    background-color:yello w;
    align-self: flex-start;
}
.container-all-section4{
    height: 100%;
    width: 100%;
    /* background-color:darkgoldenrod; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.gap-image-title{
    height: 30%;
    width: 50%;
    /* background-color: crimson; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 6rem;
}
.logo-gap{
    height: 15rem;
}
.mobil-app-gap{
    height: 15.3rem;
}
.gap-text-style{
    height: 100%;
    width: 40%;
    /* background-color: darkmagenta; */
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 42px;
    text-transform: uppercase;
    align-self: center;
}
.fas{
    height: 5rem;
}
.section5{
    height: 90%;
    width: 100%;
    background-color:#f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.mockup-iphones-gap{
    height: 70%;
    width: 90%;
    /* background-color:sienna; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
}
.gap-app-image{
    height: 100%;
    /* background-color: darkblue; */
}
.gap-app-image2{
    height: 100%;
    /* background-color: darkblue; */
}

.section6{
    height: 100%;
    width: 100%;
    background-color:#ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}
.background-grey{
    height: 76%;
    width: 91%;
    background-color:#f4f4f4;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
}
.forms-container-section-illustration{
    width: 100%;
    height: 20rem;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    background-color: deeppink;
}
.blue-form-section-illustration{
    height: 15rem;
    background-color: darkred;
}
.red-form-section-illustration{
    height: 15rem;
    background-color:darkviolet;
}

.container-all-saction04{
    height: 100%;
    width: 100%;
    background-color: darkcyan;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.text-container-section-illustration-all{
    height: 42%;
    width: 24%;
    background-color: lightblue;
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 70px;
    text-transform: uppercase;
    line-height: 0rem;
    margin-left: 20rem;
    margin-top: 10rem;
}
.text-container-section-illustration{
    background-color: deepskyblue;
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: row;
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 70px;
    text-transform: uppercase;
    line-height: 0rem;
    align-items: center;
}
.illu{
    height: 10%;
    width: 52%;
    background-color: indigo;
    padding-right: 1rem;
}
.illustration-line{
    height: 0.1rem;
    width: 16rem;
    border-top: 2px solid black;
    background-color: green;
}
.t-04{
    height: 35%;
    width: 15%;
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 190px;
    line-height: 6rem;
    background-color: darkorchid;
    padding-left: 3rem;
}
.illu-eg-place{
    height: 100%;
    width: 50%;
    background-color: darkslateblue;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.eg-illu{
    height: 30rem;
    image-orientation:flip;
}
.section7{
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.div-left{
    height: 75%;
    width: 30%;
    /* background-color: firebrick; */
    margin-left: 15rem;
}
.div-right{
    height: 90%;
    width: 40%;
    /* background-color:goldenrod; */
}
.sub-Saharan-africa-image{
    height: 30rem;
}
.post-insta-1-text{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}
.post-insta-2-text{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}
.grano-image{
    height: 45rem;
}

.section8{
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.background-grey{
    height: 76%;
    width: 91%;
    background-color:#eeeeee;
    display: flex;
    flex-direction: column;
   
}
.forms-container-section-dessins{
    width: 100%;
    height: 20rem;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    /* background-color: deeppink; */
}
.blue-form-section-dessin{
    height: 15rem;
    /* background-color: darkred; */
}
.container-all-saction05{
    height: 40%;
    width: 100%;
    /* background-color: darkcyan; */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.texte-draw-container{
    height: 60%;
    width: 35%;
    /* background-color: lightblue; */
    margin-left: 20rem;
    margin-right: 10rem;
    margin-top: 5rem;
}
.red-form-dessin-bottom{
    width: 100%;
    height: 100%;
    /* background-color: hotpink; */
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.red-form-section-dessin{
    height: 100%;
    width: 15%;
    /* background-color:darkviolet; */
}
.dessin-text{
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 100px;
    line-height: 0rem;
}
.dessin-image-section{
    height: 22rem;
    width: 18rem;
}
.section9{
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dessins-container{
    height: 90%;
    width: 50%;
    /* background-color:lavender; */
    display: flex;
    flex-direction: column;
}
.draw-image-top{
    height: 50%;
    width: 100%;
    /* background-color:mediumpurple; */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}
.gintama-draw{
    height: 70%;
}
.kgm-draw{
    height: 100%;
}
.draw-image-bottom{
    height: 50%;
    width: 100%;
    /* background-color: lawngreen; */
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
}
.pixel-draw{
    height: 100%;
}
.allegory-draw{
    height: 70%;
}

.section9{
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.background-color-grey-end{
    height: 95%;
    width: 97%;
    /* background-color: deeppink; */
    background-image: url(assets/frame-2.png);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-container-thanks{
height: 30%;
width: 30%;
/* background-color: midnightblue; */
display: flex;
flex-direction: column;
font-family: 'Roboto', sans-serif;
font-size: 93px;
font-weight: 900;
text-align: center;
}
.text-container-thanks-bottom{
    height: 20%;
    width: 100%;
    /* background-color: olive; */
    font-size: 22px;
    font-weight: 100;
}